---
layout: default
title: Home
---

<h1>Recent Posts</h1>

<div class="posts">
  {% for post in site.posts %}
  <div>
    <h3>
      <a href="{{ post.url }}">
        <span style="color: grey">{{ post.date | date_to_string }}</span> - {{ post.title }}
      </a>
    </h3>
  </div>
  {% endfor %}
  <br>
  <div class="pull-right">
    <a href="{{ site.baseurl }}blog">More ...</a>
  </div>
</div>
<br>
<hr>
<h2>Projects</h2>
<br>
<div class="posts">
  {% for project in site.projects reversed limit:3 %}

  <div class="col project-item hvr-float">
      <a href="{{project.url}}" class="portfolio-link">
          <img src="{{ project.thumbnail }}" class="img-responsive project-thumbnail" alt="">
        <div class="project-caption">
            <h4>{{ project.title }}</h4>
        </div>
      </a>
  </div>
  {% endfor %}
  <br>
  <div class="pull-right">
    <a href="{{ site.baseurl }}projects">More ...</a>
  </div>

</div>
